@import 'colors.scss';

.tabs-container {
  display: flex;
  align-items: center;
}

.tab-item {
  flex-grow: 1;
  padding: 20px 0;
  text-align: center;
  font-size: 1.6rem;
  border-bottom: 3px solid $lightGray1;
  color: $gray2;
  cursor: pointer;

  &.active, &:hover {
    border-bottom: 3px solid $orange1;
    color: $darkGray1;
  }
}

.currency-list-card {
  display: flex;
  height: 6rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 2rem;
  color: $gray2;
  padding: 80px;
  width: 25%;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $orange1;
  }
}

.date-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: $darkGray1;

  button {
    background-color: $orange1;
    color: white;
    outline: none;
    border: none;
    padding: 16px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    cursor: pointer;

    &:disabled {
      background-color: $gray1;
    }
  }
}

.date-input {
  border: none;
  box-sizing: border-box;
  margin: 0 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: $darkGray1;

  &:hover {
    -webkit-box-shadow: 0px 3px 0px 0px $orange1;
    -moz-box-shadow: 0px 3px 0px 0px $orange1;
    box-shadow: 0px 3px 0px 0px $orange1;
  }
}
