/**
 * global.scss
 *
 * Contains global base css rules for every component
 */

@import 'colors.scss';

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

input {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.page-container {
  background-color: $lightGray1;
  min-height: 100vh;
}

.page-content {
  margin: auto;
  max-width: 1400px;
  background-color: white;
}
