@import 'colors.scss';

.page-header {
  height: 300px;
  background-color: $darkBlue1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-title {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-align: center;
}

.header-back {
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 20px;
}
