@import 'colors.scss';

.search-container {
  padding: 2rem;
  font-size: 2rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $gray2;
  background-color: $lightGray2;
}

.search-input {
  margin-left: 1rem;
  flex-grow: 1;
  outline: none;
  border: none;
  color: $gray2;
  font-weight: 100;
  background-color: transparent;
}

.currency-list-container {
  display: flex;
  flex-wrap: wrap;
}

.currency-list-card {
  display: flex;
  height: 6rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 2rem;
  color: $gray2;
  padding: 80px;
  width: 25%;

  &:hover {
    color: white;
    background-color: $orange1;
  }
}
